body {
    background-image: url("backimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 10px;
    left: 25px;
    height: 75px;
}

.login-form {
    position: relative;
    width: 300px;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    color: white;
}

.login-form h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    height: 40px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    text-indent: 10px;
    background-color: rgb(55, 55, 55);
    color: white;
}

::placeholder {
    color: lightgray;
    opacity: 0.85;
}

input[type=checkbox] { 
    vertical-align: middle; 
    position: relative; 
    bottom: 2px;
    accent-color: lightgray;
} 

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    opacity: 0.85;
    font-size: small;
}

.sign-up p {
    color: lightgray;
}

.sign-up p, .sign-up a {
    display: inline-block;
}

.end {
    font-size: small;
    color: lightgray;
}

.end a {
    color: #0071eb;
}

.sign-in {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

.sign-in:hover {
    transition: 0.5s;
    background-color: darkred;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
